<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 , shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/cover.css') }}">
  <title>GeoLocator</title>
  <style>
    #map {
      width: 100%;
      min-height: 400px;
      background-color: grey;
    }
  </style>
</head>

<body class="text-center">
  <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <main role="main" class="inner cover">
      <h1 class="cover-heading">Your location</h1>
      <div class="h-75 w-75" style="margin-bottom: 10px" id="map"></div>
      <!-- <form onsubmit="handleConfirm()"> -->
      <!-- <div class="form-group"> -->
      <div id="confirm">
        <button onclick="handleConfirm()" type="submit" class="btn btn-lg btn-success">Confirm Location</button></div>
      <!-- </div> -->
      <!-- </form> -->
    </main>
  </div>
  <script src="//code.jquery.com/jquery-2.2.1.min.js">
  </script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='scripts/mapLocation.js') }}"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{googleMapsApiKey}}&callback=initMap">
  </script>
  <script type="text/javascript" src="//media.twiliocdn.com/sdk/js/sync/v0.8/twilio-sync.min.js"></script>
  <script src="{{ url_for('static', filename='scripts/confirmLocation.js') }}"></script>
</body>

</html>